<form id="find-patient">
        <div class="form-group">
            <label for="nameInput">
                <h1>Patient name</h1>
            </label>
            <label for="first-name">First name</label>
            <input type="text" class="form-control" id="firstName">
            <label for="last-name">Last name</label>
            <input type="text" class="form-control" id="lastName">
        </div>

        <button id="submit-button" type="submit">Submit</button>
    </form>


<div>
    <a class="btn btn-primary btn-lg" href="/newpatient" role="button">Add New Patirnt</a>
</div>

